$border-color: #e7e7e7;

.preview-container {
  border: solid 1px $border-color;
  overflow: auto;
  padding: 10px 5px 10px 15px;

  .preview-heading {
    padding-bottom: 5px;
    border-bottom: solid 1px $border-color;
  }

  .course-actions {
    padding-right: inherit;

    .action-button {
      margin: 5px 0 5px 0;
    }
  }
}